@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

:global body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

:global *,
:global *::before,
:global *::after {
  box-sizing: inherit;
}

:global html {
  box-sizing: border-box;
}

:global html,
:global body {
  min-height: 100%;
  height: 100%;
}

.layout {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  padding: 50px 15px 15px;
}
