.header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.inner {
  background-color: #FFF;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

.dayCircles {
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  background: silver;
  border-radius: 50%;
  text-decoration: none;
}

.dayCircles.active {
  font-weight: bold;
  background-color: red;
}

.dayCircles.weekend {
  background-color: purple;
}

.dayCircles.weekend.active {
  background-color: green;
}
